<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.ict.edu.domain.auth.mapper.AuthMapper">
	<select id="selectMember"  parameterType="String" resultType="UserVO">
		select * from user_db.user_tbl where user_id = #{user_id}
	</select>
</mapper>

