<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace는 반드시 mapper 위치로 설정해야 된다. -->
<mapper namespace="com.ict.edu.domain.auth.mapper.AuthMapper">

    <!-- 유저 디테일 -->
    <select id="getUserDetail"  parameterType="String" resultType="UserVO">
        select * from user_db.user_info_tbl where user_id = #{user_id}
    </select>
    
    <!-- 아이디로 유저정보 가져오기 -->
    <select id="getUserById" parameterType="String" resultType="UserVO">
        select * from user_db.user_info_tbl where user_id = #{user_id}
    </select>
    
    <!-- SNS 로그인 확인 -->
    <select id="findUserByProvider" parameterType="UserVO" resultType="UserVO">
        select * from user_db.user_info_tbl
        where  
        (
            (provider = 'kakao' and user_kakao = #{user_kakao})
        OR
            (provider = 'naver' and user_naver = #{user_naver})
        OR
            (provider = 'google' and user_google = #{user_google})
        )
    </select>
    
    <!-- SNS 회원가입 -->
    <insert id="insertUserByProvider" parameterType="UserVO">
        insert into user_db.user_info_tbl(
            user_id,
            user_level_idx,
            user_pw,
            user_profile,
            user_name,
            user_nickname,
            <if test="user_kakao != null">user_kakao,</if>
            <if test="user_naver != null">user_naver,</if>
            <if test="user_google != null">user_google,</if>
            <if test="user_birth_date != null">user_birth_date,</if>
            user_gender,
            user_email,
            <if test="user_phone != null">user_phone,</if>
            user_reg_date,
            user_last_login
        )
        values(
            #{user_id},
            1,
            #{user_pw},
            #{user_profile},
            #{user_name},
            #{user_nickname},
            <if test="user_kakao != null">#{user_kakao},</if>
            <if test="user_naver != null">#{user_naver},</if>
            <if test="user_google != null">#{user_google},</if>
            <if test="user_birth_date != null">#{user_birth_date},</if>
            <choose>
                <when test="user_gender != null">#{user_gender},</when>
                <otherwise>'Etc',</otherwise>
            </choose>
            #{user_email},
            <if test="user_phone != null">#{user_phone},</if>
            CURRENT_DATE,
            null
        )
    </insert>

    <!-- 일반 유저 회원가입 -->
    <insert id="insertUserJoin" parameterType="UserVO">
        insert into user_db.user_info_tbl(
            user_id,
            user_level_idx,
            <if test="user_pw != null">user_pw,</if>
            user_profile,
            user_reg_date,
            user_name,
            user_nickname,
            <if test="user_kakao != null">user_kakao,</if>
            <if test="user_naver != null">user_naver,</if>
            <if test="user_google != null">user_google,</if>
            <if test="user_birth_date != null">user_birth_date,</if>
            user_gender,
            user_email,
            <if test="user_phone != null">user_phone,</if>
            user_last_login
        )
        values(
            #{user_id},
            #{user_level_idx},
            <if test="user_pw != null">#{user_pw},</if>
            #{user_profile},
            CURRENT_DATE,
            #{user_name},
            #{user_nickname},
            <if test="user_kakao != null">#{user_kakao},</if>
            <if test="user_naver != null">#{user_naver},</if>
            <if test="user_google != null">#{user_google},</if>
            <if test="user_birth_date != null">#{user_birth_date},</if>
            <choose>
                <when test="user_gender != null">#{user_gender},</when>
                <otherwise>'Etc',</otherwise>
            </choose>
            #{user_email},
            <if test="user_phone != null">#{user_phone},</if>
            null
        )
    </insert>

    <!-- 유저 아이디 중복 체크 -->
    <select id="getUserIDChk" parameterType="String" resultType="int">
        SELECT COUNT(*) 
        FROM user_db.user_info_tbl
        WHERE user_id = #{user_id}
    </select>
    
    

    <!-- 패스워드 가져오기 -->
    <select id="getUserPassWord" parameterType="String" resultType="String">
        select user_pw from user_db.user_info_tbl where user_id = #{user_id}
    </select>
    
    <!-- 아이디 찾기 -->
    <select id="userFindByEmail" parameterType="String" resultType="UserVO">
        select * from user_db.user_info_tbl where user_email = #{user_email}
    </select>
    
    <!-- 밴 내용 확인 -->
    <select id="getUserBan" parameterType="String" resultType="UserBanVO">
        select * from user_db.user_ban_tbl where user_idx = #{user_idx}
    </select>
</mapper>
