<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.ict.edu.domain.user.mapper.UserMapper">
    
    
    // 닉네임 변경
    public int putUserNickName(UserVO uvo);
    
    // 프로필 사진 수정
    public int putUserProfile(UserVO uvo);
    
    // 이름 수정
    public int putUserName(UserVO uvo);
    
    // 성별 수정
    public int putUserGender(UserVO uvo);
    
    // 휴대전화 번호 수정
    public int putUserPhone(UserVO uvo);
    
    // 비밀번호 수정
    int putUserPassWord(UserVO uvo);
    
    // 회원가입
    int postUserJoin(UserVO uvo);
    
    // 비밀번호 확인
    String getUserPassWord(String user_id);
 </mapper>